# Python for Spatial Analysis
## Second part of the module of GG3209 Spatial Analysis with GIS.
### Notebook to practice NumPy and Pandas - Exercises

---
Dr Fernando Benitez -  University of St Andrews - School of Geography and Sustainable Development - Second Iteration 2023 v.2.0

# Practicing NumPy

## 2.0 
Import numpy under the alias `np`.

In [1]:
# The code goes here
import numpy as np

## 2.1 

Create the following arrays:

* Create an array of 10 ones.

* Create an array of the integers 1 to 20.

* Create a 5 x 5 matrix of ones with a dtype int.

In [10]:
#Code comes here
array1 = np.ones(10)
print(array1)

array2 = np.arange(1, 21, 1, dtype='int')
print(array2)

array3 = np.ones((5, 5), dtype='int')
print(array3)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
[[1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]]

## 2.2 
Use numpy to:
1. Create an 3D matrix of 3 x 3 x 3 full of random numbers drawn from a standard normal distribution (hint: `np.random.randn()`)
2. Reshape the above array into shape (27,)

In [13]:
# Code comes here
array4 = np.random.randn(3, 3, 3)
print(array4)

array4b = array4.reshape(27)
print(array4b)

[[[-0.8023995  -0.67578507  0.94134174]
  [ 0.76833813 -0.27323655  2.16287462]
  [ 0.01513279  0.90388888  0.90446311]]

 [[ 0.21211692  0.52681078  0.35006284]
  [ 1.24486873  1.47974168 -0.43909657]
  [-0.85382893 -0.01009099  0.38298538]]

 [[-1.15137742 -0.13349719  0.30147649]
  [-0.33619358  1.19562013 -0.0611369 ]
  [ 0.89500879 -0.54020703  1.49597744]]]
[-0.8023995  -0.67578507  0.94134174  0.76833813 -0.27323655  2.16287462
  0.01513279  0.90388888  0.90446311  0.21211692  0.52681078  0.35006284
  1.24486873  1.47974168 -0.43909657 -0.85382893 -0.01009099  0.38298538
 -1.15137742 -0.13349719  0.30147649 -0.33619358  1.19562013 -0.0611369
  0.89500879 -0.54020703  1.49597744]

# 2.3 

Create an array of 20 linearly spaced numbers between 1 and 10.

In [14]:
# Code comes here
array5 = np.linspace(1, 10, 20,)
print(array5)

[ 1.          1.47368421  1.94736842  2.42105263  2.89473684  3.36842105
  3.84210526  4.31578947  4.78947368  5.26315789  5.73684211  6.21052632
  6.68421053  7.15789474  7.63157895  8.10526316  8.57894737  9.05263158
  9.52631579 10.        ]

## 2.4

Run the following code to create an array of shape 4 x 4 and then use indexing to produce the outputs shown below.

In [3]:

a = np.arange(1, 26).reshape(5, -1)

In [1]:
print(a)
print(a[3][4])

NameError: name 'a' is not defined

In [16]:
20

20

In [35]:
#Code goes here
print(a[1:5,3:5])

[[ 9 10]
 [14 15]
 [19 20]
 [24 25]]

```python
array([[ 9, 10],
       [14, 15],
       [19, 20],
       [24, 25]])
```

In [37]:
# Code come here
print(a[2, :])

[11 12 13 14 15]

```python
array([ 6,  7,  8,  9, 10])
```

In [ ]:
# Code comes here

## 2.5 

Calculate the sum of all the numbers in `a`.

In [39]:
# Code comes here
print(np.sum(a))

325

## 2.6 

Calculate the sum of each row in `a`.

In [43]:
# Code comes here
print(sum(a[0]))
print(sum(a[1]))
print(sum(a[2]))
print(sum(a[3]))
print(sum(a[4]))

15
40
65
90
115
[54 58 62 66 70]

## 2.7 

Extract all values of `a` greater than the mean of `a` (hint: use a boolean mask).

In [6]:
# Code comes here
a = np.arange(1, 26).reshape(5, -1)

print(np.extract(a > np.mean(a), a))

[14 15 16 17 18 19 20 21 22 23 24 25]

# Practicing Pandas

## 2.8

In this set of practice exercises we'll be investigating the carbon footprint of different foods. 

We'll be leveraging a dataset compiled by [Kasia Kulma](https://r-tastic.co.uk/post/from-messy-to-tidy/) and contributed to [R's Tidy Tuesday project](https://github.com/rfordatascience/tidytuesday).

Start by importing pandas with the alias `pd`.

In [2]:
# Codes comes here
import numpy as np
import pandas as pd

## 2.9 

The dataset we'll be working with has the following columns:

|column      |description |
|:-------------|:-----------|
|country       | Country Name |
|food_category | Food Category |
|consumption   | Consumption (kg/person/year) |
|co2_emmission | Co2 Emission (Kg CO2/person/year) |


Import the dataset as a dataframe named `df` from this url: <https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-02-18/food_consumption.csv>

In [3]:
# Code comes here
df = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-02-18/food_consumption.csv', sep=",", header=0)
df.head(1430)

         country             food_category  consumption  co2_emmission
0      Argentina                      Pork        10.51          37.20
1      Argentina                   Poultry        38.66          41.53
2      Argentina                      Beef        55.48        1712.00
3      Argentina               Lamb & Goat         1.56          54.63
4      Argentina                      Fish         4.36           6.96
...          ...                       ...          ...            ...
1425  Bangladesh        Milk - inc. cheese        21.91          31.21
1426  Bangladesh  Wheat and Wheat Products        17.47           3.33
1427  Bangladesh                      Rice       171.73         219.76
1428  Bangladesh                  Soybeans         0.61           0.27
1429  Bangladesh   Nuts inc. Peanut Butter         0.72           1.27

[1430 rows x 4 columns]

## 2.10 

How many rows and columns are there in the dataframe?

In [8]:
#Code comes here
rows = len(df.axes[0]) 
cols = len(df.axes[1])
  
print("Number of Rows: " + str(rows)) 
print("Number of Columns: " + str(cols))

Number of Rows: 1430
Number of Columns: 4

## 2.11

What is the mean `co2_emission` of the whole dataset?

In [18]:
# Code comes here
co2_mean = df["co2_emmission"].mean()
print(co2_mean)

74.383993006993

## 2.12

What is the maximum `co2_emmission` in the dataset and which food type and country does it belong to?

In [20]:
# Code comes here
co2_max = df["co2_emmission"].max()
print(co2_max)
co2maxcountry = df[df["co2_emmission"]== co2_max]
print(co2maxcountry)

1712.0
     country food_category  consumption  co2_emmission
2  Argentina          Beef        55.48         1712.0

## 2.13

How many countries produce more than 1000 Kg CO2/person/year for at least one food type?

In [31]:
#Don't know how to specify this for one food type
country_1000 = df[df["co2_emmission"] > 1000]
print(country_1000)
print(len(country_1000))

       country food_category  consumption  co2_emmission
2    Argentina          Beef        55.48        1712.00
13   Australia          Beef        33.86        1044.85
57         USA          Beef        36.24        1118.29
90      Brazil          Beef        39.25        1211.17
123    Bermuda          Beef        33.15        1022.94
5

## 2.14

Which country consumes the least amount of beef per person per year?

In [39]:
# code comes here

KeyError: False

## 2.15

What is the total emissions of all the meat products (Pork, Poultry, Fish, Lamb & Goat, Beef) in the dataset combined?

In [ ]:
# code comes here

# 2.16 

What is the total emissions of all other (non-meat) products in the dataset combined?

In [ ]:
# code comes here

## Well done!

That's all from this week, if you have any questions, do not forget to ask the TAs for assistance.